.documento{
	padding:5px;
}
.documento .titulo1{
	margin-bottom:5px;
	background-color:#5b0000;
	color:#FFF;
	padding:10px;
	font-size:14px;
}
.documento .titulo2{
	margin-bottom:5px;
	background-color:#b7b6b6;
	color:#5b0000;
	padding:7px;
	padding-left:20px;
	font-size:12px;
}
.documento .texto{
	color:#333;
	font-size:11px;
	line-height:20px;
	text-align:justify;
}
.documento .detalleTitulo{
	font-weight:bold;
	font-style:italic;
	color:#999;
	font-size:11px;
	line-height:13px;
	padding:5px;
}
.documento .detalle{
	font-style:italic;
	color:#999;
	font-size:11px;
	line-height:13px;
	padding:5px;
}
.documento .etiquetaDocumento .adminDocumento{
    display: none;
}
.documento .etiquetaDocumento:hover .adminDocumento{
    display: block;
}