@charset "iso-8859-1";
.ventana .cerrar{position:absolute; top:-22px; width:31px; height:31px; background-image:url(imagenes/close.png); background-position:0px 0px; background-repeat:no-repeat; cursor:pointer;}
.ventana .cerrar:hover{background-position:-31px 0px;}